#section1{
  background-image: url(/Eastie-Airbnb/images/bg.jpg);

}
div.transbox
{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  /* for IE */
  filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.8;

}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* .dot {
  stroke: #000;
} */

.tooltip {
  position: absolute;
  pointer-events: none;
  background-color:white;
  /* background-color: #5bcaff; */
}

.grid-container {
  display: grid
}

#contentInside2 {
   width:600px;
    /* float:right; */
    display: inline-block;

}

#mapInside2 {
    /* float:left; */
display: inline-block;
margin-top: 50px;

}
